/* Reset */
* {margin: 0; padding: 0; box-sizing: border-box;}

/* Body */
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #f4f7fb;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar .logo {color: white; font-weight: bold; font-size: 1.2rem;}
.nav-links {list-style: none; display: flex;}
.nav-links li {margin-left: 1.5rem;}
.nav-links a {color: white; text-decoration: none;}
.nav-links a:hover {text-decoration: underline;}

/* Hero Section */
.hero {
  padding: 6rem 2rem 3rem;
  text-align: center;
  background: linear-gradient(to right, #eaf4ff, #ffffff);
}
.hero h1 {font-size: 2.5rem; color: #003366;}
.hero p {margin: 0.5rem 0 1rem;}
.hero-buttons {margin-top: 1rem;}
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 0.5rem;
}
.primary {background: #007bff; color: white;}
.secondary {background: #f0f0f0; color: #333;}
.primary:hover {background: #0056b3;}
.secondary:hover {background: #ddd;}

/* Section */
.section {max-width: 1100px; margin: auto; padding: 2rem;}
.section h2 {margin-bottom: 1.2rem; color: #003366;}

/* Skills Grid */
.skills-grid {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  flex-direction: column;
  gap: 1rem;
}

.skill-box {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}
.skill-box i {font-size: 1.8rem; color: #007bff; margin-bottom: 0.5rem;}

/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.project-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.project-icon {font-size: 2rem; color: #007bff; margin-bottom: 0.5rem;}

/* Education Grid */
.edu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.edu-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Experience Grid */
.experience-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experience-card {
  background: white;
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.experience-card h3 {
  color: #003366;
  margin-bottom: 0.3rem;
}

.company {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.experience-card ul {
  margin-left: 1.5rem;
}
.experience-card li {
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

/* Certifications */
#certifications ul {list-style: none;}
#certifications li {margin-bottom: 0.5rem;}
#certifications i {color: #ff9800; margin-right: 0.5rem;}
